.main-tables-container{
   display: flex;
   width: 930px;
   margin: 0 auto;
}
.product-cards-cointainer{
   display: grid;
   grid-template-columns: 400px 400px;
   justify-content: center;
}
.bitcoin-container{
   background-image: url("/Assets/images/bitcoinbaby2x.jpg");
}
.plans-container--slider{
   justify-content: center;
}